!!!
html
  head
    title= title
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/custom.css')
  body
    div.navbar.navbar-fixed-top
      div.navbar-inner
        div.container
          a.brand(href='./') lexcube
          ul.nav.pull-right
            if 'user' in locals && user
            li 
              a(href='./quiz') Take Quiz
            if 'user' in locals && user
              li
                a(href='./user') #{user.username}
              li 
                a(href='./logout') Sign out
            else
              li 
                a(href='./login') Login/Signup

    !{body}
    div.navbar.navbar-fixed-bottom
      div.navbar-inner
        div.container
          p.pull-right Copyright 2012, Martin Percossi
